<%# best_quotes/app/views/a_quote.html.erb %>
<p>
There is nothing either good or bad but
<%= noun %> makes it source ~/.vimrc
.
</p>
<p>
  Ruby version <%= RUBY_VERSION %>
</p>

<table border="1">
  <% env.each do |name, value| %>
    <tr>
      <td><%= name %></td>
      <td><%= value %></td>
    </tr>
  <% end %>
</table>
